﻿@{
    ViewData["Title"] = "Calulator";
}
@using (Html.BeginForm("Result", "Home"))

{
    <header> Simple calculator </header>
    <table style="margin-top: 50px;">
        <tr>
            <td>
                <input type="text" id="arg1" name="arg1" />
            </td>
            <td>
                <select name="math">
                    <option></option>
                    <option>+</option>
                    <option>-</option>
                    <option>*</option>
                    <option>/</option>
                </select>
            </td>
            <td>
                <input type="text" id="arg2" name="arg2" />
            </td>
            <td>
                <input type="submit" value="=" />
            </td>
            <td>
                <span>@Model</span>
            </td>
        </tr>
    </table>
}